/*Seletor de elementos*/
body{
    background-color: rgb(207, 205, 205);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Seletor de classe*/
.titulo{
    text-align: center;
    margin: 5%;
}

section{
    border-bottom: solid;
}
