body{
    background-color:rgb(192, 192, 192);
    font-family:sans-serif;
    font-size: 14pt;
}

.item{
    background-color:rgb(11, 64, 73);
    border-radius: 3px;
    margin: 7px;
    padding: 10px; ;
}

h1{
    text-align: center;
    color:rgb(255, 255, 255) ;
    font-size: 45pt;
}

header p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25pt;
}

nav ul{
    display: flex;
    background-color:rgb(11, 64, 73) ; 
    justify-content: center;
    border-radius: 3px;
    margin: 7px;
    padding: 10px;
}

header li{
    border-radius: 3px;
    background-color:rgb(255, 255, 255) ;
    margin: 10px;
    padding: 5px;
    list-style: none;
    text-align: center;
    font-size: 18pt;
}

section{
    background-color: rgb(255, 255, 255);
    margin: 7px;
    padding: 10px;
    border-radius: 3px;;

}

h2{
    color: rgb(255, 255, 255);
    background-color:rgb(11, 64, 73) ;
    margin: 0%;
    border-radius: 3px;
}

i{
    font-size: 70px; 
    color:rgb(11, 64, 73) ;
}

.logo{
    display:inline-flex;
    margin: 4px;
}

footer p{
    color:rgb(11, 64, 73); 
}